<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Инглиш лэнгвиг
    </title>

    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'materialize.min.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <header class="border-bottom">
            <a href="/" class="blue-text text-darken-2">
                <div class="col s12 m12 l12">
                    <img src="{% static 'calculator.svg' %}" alt="Инглиш лэнгвиг" width="32" height="32"/>
                    <span>Инглиш лэнгвиг</span>
                </div>
            </a>
        </header>
        <div id="title-box">
            <div class="container-fluid py-5">
                <h1 class="teal-text text-lighten-2">{% block page-title %}{% endblock %}</h1>
                <p>{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© 2023</footer>
    </div>
</main>
</body>
</html>