{% extends "base_page.html" %}

{% block page-title %}
Английский язык
{% endblock %}

{% block page-lead %}
Если не получилось выучить язык за 10 лет школы, то мы верим в Вас, и сейчас точно получится.<br/>
А этот сайтик будет Вашим помощником в этом нелёгком деле.<br/>
Ниже Вы найдёте несколько полезных инструментов для изучения языка.
{% endblock %}

{% block content %}
<div class="container" id="project-contents">
    <h2 class="header">Запоминание слов</h2>
        <div class="row light-blue lighten-5">
            <div class="section col s4">
                <div class="card hoverable small">
                        <div class="card-title">
                            <h3 class="section center">Словарик</h3>
                        </div>
                        <div class="card-content">
                            <p>Здесь Вы можете вводить новые для Вас слова и их перевод</p>
                        </div>
                        <div class="card-action">
                            <a href="/words-list">Вау! Хочу глянуть</a>
                        </div>
                </div>
            </div>
            <div class="section col s4">
                <div class="card hoverable small">
                    <div class="card-title">
                        <h3 class="section center">Форма для нового термина</h3>
                    </div>
                    <div class="card-content">
                        <p>Через эту форму добавляются новые слова в словарик</p>
                    </div>
                    <div class="card-action">
                        <a href="/add-word">Круто!</a>
                    </div>
                </div>
            </div>
            <div class="section col s4">
                <div class="card hoverable small">
                    <div class="card-title">
                        <h3 class="section center">Статистика</h3>
                    </div>
                    <div class="card-content">
                        <p>А здесь показана статистика по добавленным словам</p>
                    </div>
                    <div class="card-action">
                        <a href="/stats">Изучить</a>
                    </div>
                </div>
            </div>
        </div>
    <h2 class="header">Контент для погружения в язык</h2>
        <div class="row light-blue lighten-5">
            <div class="col s6">
                <div class="card hoverable small">
                    <div class="card-title">
                        <h3 class="section center">Блокнотик с полезностями</h3>
                    </div>
                    <div class="card-content">
                        <p>Здесь находится список с полезным контентом для прокачки своего английского</p>
                    </div>
                    <div class="card-action">
                        <a href="/notes-list">Посмотреть</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card hoverable small">
                    <div class="card-title">
                        <h3 class="center">Форма для добавления новой записи в блокнотик</h3>
                    </div>
                    <div class="card-content">
                        <p>Через эту форму добавляются новые записи в блокнотик</p>
                    </div>
                    <div class="card-action">
                        <a href="/add-note">Круто!</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
