{% extends "base_page.html" %}

{% block page-title %}
Английский язык
{% endblock %}

{% block page-lead %}
Если не получилось выучить язык за 10 лет школы, то мы верим в Вас, и сейчас точно получится.<br/>
А этот сайтик будет Вашим помощником в этом нелёгком деле.<br/>
Ниже Вы найдёте несколько полезных инструментов для изучения языка.
{% endblock %}

{% block content %}
<div id="project-contents">
    <h2>Запоминание слов</h2>
    <div class="row">
        <div class="col s4 m4 l4">
            <div>
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="brown-text">Словарик</h3>
                <p>Здесь Вы можете вводить новые для Вас слова и их перевод.</p>
                <a href="/terms-list" class="btn btn-primary">Вау! Хочу глянуть</a>
            </div>
        </div>
        <div class="col s4 m4 l4">
            <div>
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3>Форма для заполнения нового термина</h3>
                <p>Через эту форму добавляются новые слова в словарик.</p>
                <a href="/add-term" class="btn btn-primary">
                    Заполнить душевную пустоту и форму
                </a>
            </div>
        </div>
        <div class="col s4 m4 l4">
            <div>
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3>Статистика</h3>
                <p>А здесь показана статистика по добавленным словам.</p>
                <a href="/stats" class="btn btn-primary">Изучить</a>
            </div>
        </div>
        <div class="col s4 m4 l4">
            <div>
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
        </div>
    </div>
    <h2 class="pb-2 border-bottom">Контент для погружения в язык</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="col s6 m6 l6">
            <div>
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
             <div>
                <h3 class="fs-2">Блокнотик с полезностями</h3>
                <p>Здесь находится список с полезным контентом для прокачки своего английскогою <br>
                А именно:видео, фильмы, книги, статьи, тексты песен.</p>
                <a href="/notes-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для добавления новой записи в блокнотик</h3>
                <p>Через эту форму добавляются новые записи в блокнотик.</p>
                <a href="/add-note" class="btn btn-primary">Заполнить душевную пустоту и форму</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
