{% extends "base_page.html" %}

{% block page-title %}
Блокнотик с контентиком
{% endblock %}

{% block page-lead %}
Здесь находится список с различными полезностями в виде рекомендаций с комментариями. Например, фильмы или различные статьи.
{% endblock %}

{% block content %}
<div id="notes-table">
    <div class="row">
        <div class="col s12 m12 l12">
            <table class="highlight">
                <thead>
                   <tr>
                       <th scope="col" class="py-3">#</th>
                       <th scope="col" class="py-3">Контентик</th>
                       <th scope="col" class="py-3">Комментарий</th>
                       <th scope="col" class="py-3">Ссылочка на просмотр</th>
                   </tr>
                </thead>
                <tbody>
                   {% for cnt, note, comment, link in notes %}
                   <tr>
                       <td class="py-3">{{ cnt }}</td>
                       <td class="py-3">{{ note }}</td>
                       <td class="py-3">{{ comment }}</td>
                       <td class="py-3">{{ link }}</td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}