{% extends "base_page.html" %}

{% block page-title %}
Добавить запись в блокнотик
{% endblock %}

{% block page-lead %}
Здесь Вы можете добавить новую запись в блокнотик <br>
Обратите внимание, поля не должны быть пустыми!
{% endblock %}


{% block content %}
<div class="container" id="note-form">
    <form method="post">
        <div class="row">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row">
            <div class="col s6">
                <span class="black-text text-black" for="name">Ваше имя:</span>
                <input type="text" name="name" id="name" placeholder="Умерчик" value required>
            </div>
            <div class="col s6">
                <span class="black-text text-black" for="email">Ваш контактный email:</span>
                <input type="email" class="validate" name="email" id="email" placeholder="pochta@zubdayuchtopochta.com" value required>
            </div>
        </div>
        <div class="divider teal darken-2"></div>
        <div class="row">
            <h3>Ваша запись</h3>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="black-text text-black" for="new_note">Вид контентика</span>
                <input type="text" class="form-control input-lg" name="new_note" id="new_note" placeholder="Фильм/Сериал/Видео/Книга/Статья" value required>
            </div>
            <div class="col s12">
                <span class="black-text text-black" for="new_comment">Описание/комментарий</span>
                <textarea type="text" class="form-control input-lg" name="new_comment" id="new_comment" aria-describedby="comment_note"></textarea>
                <label class="helper-text">Постарайтесь уложиться в одно, максимум два предложения</label>
            </div>
            <div class="col s12">
                <span class="black-text text-black" for="new_link">Ссылка</span>
                <textarea type="text"  name="new_link" id="new_link" aria-describedby="link_note"></textarea>
                <label class="helper-text">Если транскрипция неизвестна, поставьте "-"</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn waves-effect waves-teal" formaction="/send-note">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
